@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #051405;
}

#root {
  height: 100vh;
  height: 100dvh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recharts-rectangle:focus, .recharts-bar-rectangle:focus {
  outline: none;
}

.recharts-wrapper *:focus {
  outline: none !important;
}

.recharts-surface path:focus,
.recharts-surface rect:focus,
.recharts-layer:focus,
.recharts-sector:focus {
  outline: none !important;
}
